<font size="5">近畿大学</font><br>
@kinkidaigakuPR<br>
近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。個別のお問い合わせには返信を行っていませんので、ご了承ください。<br>
<br>
大阪府大阪市<br>
<a herf="instagram.com/kinkidaigakupr/">instagram.com/kinkidaigakupr/</a><br>
2010年12月に登録<br>
<%= link_to 'ツイート', new_tweet_path %>
