<% t = Time.current %>
<div class="top">
<p>ツイート　ツイートと返信　メディア</p>
<div id="content"></div>
<% @tweets.each do |com| %>
 <p>
     <%= link_to com.message, "/tweets/#{com.id}" %>
     <%= (t-com.created_at).to_i.to_s + "秒前" %>
     <%= link_to '消去', "/tweets/#{com.id}", method: :delete %>
     <%= link_to '編集', "/tweets/#{com.id}/edit" %>
 </p>
<% end %>
</div>
</div>
