
<div class="style">
<%= form_for @tweet , url: {action: :create}  do |f| %>
  <%= f.label :message, '今どうしてる？' %>
  <%= f.text_field :message %>
  <%= f.submit 'ツイート' %>
<% end %>
<%= link_to 'キャンセル' , root_path %>

</div>
