.top{
    text-align: 400px;
}
#sidebar{
    float: left;
    width: 300px;
    background-color: #DDDDDD;
    text-align: left;
    margin: 5ex;
}
#header{
    text-align: center;
}
#content{
    text-align: center;
}
#footer{
    text-align: center;
}